.about-section {
    padding: 4rem 2rem;
    background-color: #f8f9fa;
  
    .section-title {
      font-size: 2rem;
      text-align: center;
      color: #343a40;
      margin-bottom: 1.5rem;
    }
  
    .section-description {
      font-size: 1.2rem;
      text-align: center;
      color: #6c757d;
      margin-bottom: 2rem;
    }
  
    .about-list {
      list-style-type: disc;
      padding-left: 2rem;
      font-size: 1.1rem;
      color: #495057;
  
      li {
        margin-bottom: 0.5rem;
  
        strong {
          color: #007bff; /* Destaque para palavras-chave */
        }
      }
    }
  }
  