@use 'variables' as vars;

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh; 

    section {
        height: 100%;
        display: flex;        
        flex-direction: column;
        align-items: center;
        justify-content: center;   
        flex: 1;     
    }

    .main-section {
        gap: 8px;

        flex-grow: 1;
        background-color: vars.$gray-bg;
    }
    .form-section {
        flex-grow: 0.3;
        padding: 0 35px;

        img {
            margin-bottom: 30px;
        }

        h2 {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 45px;
        }

        .btn-wrapper {
            display: flex;        
            flex-direction: column;
            align-items: center;
            justify-content: center; 
            width: 100%;  
            gap: 30px;

            .divider {
                display: flex;  
                align-items: center;
                justify-content: center;  
                gap: 20px;
                width: 100%;
                
                font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
                font-size: 14px;
                color: vars.$gray-dark-color;
                font-weight: 400;
                text-transform: uppercase;

                div{
                    flex-grow: 1;
                    height: 2px;
                    background-color: vars.$gray-dark-color;
                }
            }

            button {
                width: 100%;
                border-radius: 8px;
                font-size: 16px;
                font-weight: 500;
                border: none;
                background-color: transparent;
                padding: 12px 24px;
                cursor: pointer;
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    
                &.btn-primary {
                    background-color: vars.$primary-color;
                    color: vars.$white-color;
                }
    
                &.btn-secondary {
                    border: 1px solid vars.$primary-color;
                    color: vars.$primary-color;
                }
            }
        }
    }
    // Estilo responsivo para dispositivos móveis
    @media (max-width: 768px) {
        flex-direction: column; // Empilha as seções verticalmente

        section {
            width: 100%; // Cada seção ocupa toda a largura da tela
            height: auto; // Ajusta a altura conforme o conteúdo
        }

        .main-section,
        .form-section {
            flex-grow: 0;
            padding: 20px; // Reduz o espaçamento para telas menores
        }

        .form-section {
            h2 {
                font-size: 18px; // Ajusta o tamanho do texto para telas menores
            }

            .btn-wrapper button {
                font-size: 14px; // Botões menores para dispositivos móveis
                padding: 10px 20px;
            }
        }
    }
}