<!-- Navbar - Visível em todas as páginas -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" routerLink="/home"><img src="assets/img/navbar-logo.svg" alt="..." /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars ms-1"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
          <li class="nav-item"><a class="nav-link" routerLink="/home">Início</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/sobre">Sobre o Projeto</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/funcionalidades">Funcionalidades</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/desenvolvedor">Desenvolvedor</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/contatos">Contatos</a></li>
          <!-- Link de Login -->
          <li class="nav-item"><a class="nav-link" routerLink="/login">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  
  <!-- Seção de Masthead e outras seções -->
  <main>
    <header id="home" class="masthead">
      <video autoplay muted loop playsinline>
        <source src="/assets/video/header-video.mp4" type="video/mp4">
        Seu navegador não suporta o elemento de vídeo.
      </video>  
      <div class="overlay"></div>
      <div class="container">
        <div class="masthead-subheading">Seja bem-vindo ao Licitação360!</div>
        <div class="masthead-heading text-uppercase">Facilitando a Gestão</div>
        <div class="scroll-down">
          <p>Role para baixo para maiores informações</p>
          <div class="arrow"></div>
        </div>
      </div>
    </header>
  </main>
  