$primary-color: #004AAD;
$secondary-color: #007bff;
$text-color: #555;
$gray-dark-color: #343a40;
$gray-bg: #EEEEEE;
$success-color: #28a745;
$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;
$light-color: #f8f9fa;
$dark-color: #343a40;
$white-color: #fff;
$black-color: #000;

