<main>
  <section class="form-section">
    <img src="assets/img/brazil.svg" />
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button 
        class="btn-primary" 
        (click)="submit()"
        [disabled]="disablePrimaryBtn"
      >
        {{ primaryBtnText }}
      </button>
      <div class="divider">
        <div></div>
        <span>or</span>
        <div></div>
      </div>
      <button class="btn-secondary" (click)="navigate()">
        {{ secondaryBtnText }}
      </button>
    </div>
    <div class="home-link">
      <a (click)="navigateHome()" class="home-btn">Voltar para Home</a>
    </div>
  </section>
</main>
