<main>
  <header id="home" class="masthead">
    <video id="mastheadVideo" muted autoplay loop playsinline>
      <source src="/assets/video/header-video.mp4" type="video/mp4" />
      Seu navegador não suporta o elemento de vídeo.
    </video>
    <div class="overlay"></div>
    <div class="container">
      <div class="masthead-subheading">Seja bem-vindo ao Licitação360!</div>
      <div class="masthead-heading text-uppercase">Facilitando a Gestão</div>
      <div>
        <button class="btn btn-primary" (click)="navigateToLogin()">Login</button>
      </div>
      <div class="scroll-hint">
        <p>Role para baixo para maiores informações</p>
        <div class="arrow">
          <span></span>
        </div>
      </div>
    </div>
  </header>
</main>